<h2 class="text-center">Kiralama Listesi</h2>

<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark text-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marka</th>
      <th scope="col">Ad</th>
      <th scope="col">SoyAd</th>
      <th scope="col">Kiralama Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentaldetaildto">
      <td>{{rental.rentalId}}</td>
      <td>{{rental.brandName}}</td>
      <td>{{rental.firstName}}</td>
      <td>{{rental.lastName}}</td>
      <td>{{rental.rentDate}}</td>

    </tr>
  </tbody>
</table>
