<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <div class="col mt-3">
        <app-brand></app-brand>
      </div>
      <div class="mt-3">
        <app-color></app-color>
      </div>
    </div>
    <div class="col-md-9">
      <!--<div class="col mt-9">
        <app-cardetail></app-cardetail>
      </div>
       <div class="col mt-9">
        <app-carrentaldetail></app-carrentaldetail>
      </div>
      <div class="col mt-9">
        <app-customerdetail></app-customerdetail>
      </div> -->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
